<div class="container">
    <div class="start-btn">
        <button class="button btn btn-primary" type="create" id="createLpBtn">Neuen Lernpfad erstellen +</button>
    </div>
    <hr>
    <section>
        <div class="history">
            <div class="card">
                <div class="card-header">
                    Meine Lernpfade
                </div>
                <div class="card-body">
                    <% data.learningPaths.forEach(lp=>{ %>
                        <div class="row">
                            <div id="_edit<%= lp['lpid'] %>">
                                <button class="button btn btn-primary open" type="edit" id="edit<%= lp['lpid'] %>">
                                <%= lp['title'] %>
                            </button>
                            </div>
                            <div id="_del<%= lp['lpid'] %>">
                                <button class="button btn btn-primary btn-warning delete" type="delete" id="delete<%= lp['lpid']%>">x</button>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
</div>
</section>
</div>