<div class="container">
    <img class="img-background" src="img/settings.png">
    <div class="start-btn">
        <button class="button btn btn-primary" type="create" id="createLpBtn">Neuen Lernpfad erstellen +</button>
    </div>
  
    <hr>
    <div class="row">
        <div class="col-md-7">
        <div class="history">
            <div class="card">
                <div class="card-header">
                    Meine Lernpfade
                </div>
                <div class="card-body">
                    <input class="form-control" id="searchbox" type="text" placeholder="Search..">
                    <hr>
                    <div class="container">
                        <table class="lpTable">
                            <tr id="lpTableHeader">
                                <th class="lpHeader">Titel</th>   
                                <th class="lpHeader">Szenarien</th> 
                                <th class="lpHeader">Interaktivitäten</th>  
                                <th class="lpHeader">Taxonomiestufe</th> 
                                <th class="lpHeader">Bewertungsmodus</th> 
                                <th class="lpHeader"></th>
                            </tr>
                            <%data.learningPaths.forEach(lpR=>{ let lp = lpR['content'] %>
                                <tr id="lpRow<%= lp['id'] %>">
                                    <td>
                                        <button class="button btn btn-dark openLp" id="openLp<%= lp['id'] %>">
                                            <%= lp['title'] %>
                                        </button>
                                    </td>
                                    <% 
                                        let amountScenarios = (lp['scenarios'] ? lp['scenarios'].length : 0); 
                                    %>
                                    <td class="lpInfoCell">
                                            <%= amountScenarios %>
                                    </td>
                                    <% 
                                        let amountInter = 0;
                                            for(let i = 0; i < amountScenarios; i++){
                                                let amountThisScenario = lp['scenarios'][i]['interactions'] ? lp['scenarios'][i]['interactions'].length : 0
                                                amountInter += amountThisScenario;
                                            }
                                    %>
                                    <td class="lpInfoCell">
                                            <%= amountInter %>
                                    </td>
                                    <td class="lpInfoCell">
                                        <%= lp['taxonomyLevelID'] %>
                                    </td>
                                    <td class="lpInfoCell">
                                        <%= lp['evaluationModeID'] %>
                                    </td>
                                    <td class="deleteLpClass">
                                        <button class="button btn btn-danger deleteLp" id="delete<%= lp['id']%>">Löschen</button>
                                    </td>
                                </tr>
                            <% }); %>
                        </table>
                    </div>
                    </div>
                </div>
           </div>
        </div>
        <div class="col-md-5">
            <div class="form" id="dropDiv">
                <input type="file" class="fileDrop" id="importDrop" multiple>
                <p id="dropText">Ziehe Deine Lernpfad-Dateien in dieses Feld oder klicke darauf, um Dateien von Deinem Rechner auszuwählen!</p>
            </div>
        </div>
           </div>
        </div>
      
    </section>
   
</div>
<div class="space"></div>

