<div class="container">
    <img class="img-background" src="img/settings.png">
    <div class="start-btn">
        <button class="button btn btn-primary" type="create" id="createLpBtn">Neuen Lernpfad erstellen +</button>
    </div>
    <hr>
    <section>
        <div class="history">
            <div class="card">
                <div class="card-header">
                    Meine Lernpfade
                </div>
                <div class="card-body">
                    <% data.learningPaths.forEach(lp=>{ %>
                        <div class="row">
                            <div id="openLpDiv<%= lp['lpid'] %>">
                                <button class="button btn btn-primary openLp" id="openLp<%= lp['lpid'] %>">
                                <%= lp['title'] %>
                                </button>
                            </div>
                            <div class="deleteLpClass" id="deleteLpDiv<%= lp['lpid'] %>">
                                <button class="button btn btn-warning deleteLp" id="delete<%= lp['lpid']%>">x</button>
                            </div>
                        </div>
                        <% }); %>
                </div>
           
           </div>
        </div>
    </section>
    <input type="file" accept=".json" id="upload" hidden/>
    <label class="import-btn" for="upload">Lernpfad importieren +</label>
</div>
