<div class="container-fluid">
    <img class="img-background" src="img/home.png">
    <hr>
    
        <div class="col-md-12 infoData">
            <div class="start-btn">
                <button class="button btn btn-primary" type="create" id="createLpBtn">
                    Neuen Lernpfad erstellen +
                </button>
            </div>
            <div class="form" id="dropDiv">
                <input type="file" accept=".json" class="fileDrop" id="importDrop" multiple>
                <img class="dropImg" src="img/filetype-json.svg">
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="history">
                    <div class="card">
                        <div class="card-header">
                            Meine Lernpfade
                        </div>
                        <div class="card-body">
                            <input class="form-control" onSubmit="return false;" id="searchIn" onkeyup="searchBox()" type="text" placeholder="Search..">
                            <hr>
                            <div class="container">
                                <div class="lpTableDiv table-responsive">
                                    <table class="lpTable table" id="infoTab"> 
                                       <thead>
                                        <tr id="lpTableHeader">
                                            <th class="align-middle lpHeader" scope="col">#</th>
                                            <th class="align-middle lpHeader" scope="col">Titel</th>   
                                            <th class="align-middle lpHeader" scope="col">Szenarien</th> 
                                            <th class="align-middle lpHeader" scope="col">Interaktivitäten</th>  
                                            <th class="align-middle lpHeader" scope="col">Taxonomiestufe</th> 
                                            <th class="align-middle lpHeader" scope="col">Bewertungsmodus</th> 
                                            <th class="align-middle lpHeader" scope="col"></th>
                                            <th class="align-middle lpHeader" scope="col"></th>
                                            <th class="align-middle lpHeader" scope="col"></th>
                                            <th class="align-middle lpHeader" scope="col"></th>
                                        </tr>
                                       </thead>
                                       <tbody id="table">
                                        <% let count = 0; data.learningPaths.forEach(lpR=>{let lp = lpR['content'] %>
                                            <tr id="lpRow<%= lp['id'] %>" scope="row">
                                                <td class="align-middle lpInfoCell">
                                                    <%= count %>
                                                </td>
                                                <td class="align-middle">
                                                    <button class="button btn  btn-light openLp" id="openLp<%= lp['id'] %>">
                                                        <%= lp['title'] %>
                                                    </button>
                                                </td>
                                                <% //ab hier ändern
                                                    let amountScenarios = (lp['scenarios'] ? lp['scenarios'].length : 0); 
                                                %>
                                                <td class="align-middle lpInfoCell">
                                                        <%= amountScenarios %>
                                                </td>
                                                <% 
                                                    let amountInter = 0;
                                                        for(let i = 0; i < amountScenarios; i++){
                                                            let amountThisScenario = lp['scenarios'][i]['interactions'] ? lp['scenarios'][i]['interactions'].length : 0
                                                            amountInter += amountThisScenario;
                                                        }
                                                %>
                                                <td class="align-middle lpInfoCell">
                                                        <%= amountInter %>
                                                </td>
                                                <td class="align-middle lpInfoCell">
                                                    <%= lp['taxonomyLevel'] %>
                                                </td>
                                                <td class="align-middle lpInfoCell">
                                                    <%= lp['evaluationModeID'] %>
                                                </td>
                                                <td class="tableBtn">
                                                    <button class="button btn btn-light showTreegraphDashboard tbBtn" id="showTreegraphDashboard<%= lp['id']%>">
                                                        <img class="button dashIcon showTreegraphDashboard" id="showTreegraphDashboard<%= lp['id']%>"" src="img/diagram-3.svg">
                                                    </button>
                                                    <div id="treegraphNavDashboard" class="overlay">
                                                        <a href="javascript:void(0)" class="closebtn" onclick="closeForwardTreegraph()">&times;</a>
                                                        <div class="overlay-content">
                                                            <div id="treegraph">

                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td class="tableBtn">
                                                    <button class="button btn btn-light downLoadFromDashboard tbBtn" id="downLoadFromDashboard<%= lp['id']%>" data-toggle="modal" data-target="#downloadPop">
                                                        <img class="button dashIcon downLoadFromDashboard" id="downLoadFromDashboard<%= lp['id']%>" src="img/download.svg">
                                                    </button>
                                                </td>
                                                <td class="tableBtn">
                                                    <button class="button btn btn-light settingsPageBtn tbBtn" id="settingsPageBtn<%= lp['id']%>">
                                                        <img class="button dashIcon settingsPageBtn" id="settingsPageBtn<%= lp['id']%>" src="img/settings.svg">
                                                    </button>
                                                </td>
                                                <td class="tableBtn">
                                                    <button class="button btn btn-light tbBtn" data-toggle="modal" data-target="#deleteLp<%= lp['id']%>">
                                                        <img class="button dashIcon" src="img/trash.svg">
                                                    </button>
                                                    <div class="modal fade" id="deleteLp<%= lp['id']%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            
                                                            <div class="modal-content">
                                                                <div class="modal-header"> 
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p  class="modal-content-big">Bist Du sicher? </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light modal-button deleteLp" id="delete<%= lp['id']%>" data-dismiss="modal">Löschen</button>
                                                                    <button type="button" class="btn btn-light modal-button" data-dismiss="modal">Abbrechen</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% count++;  }); %>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
<div class="space"></div>
