<div class="container">
    <img class="img-background" src="img/settings.png">
    <div class="start-btn">
        <button class="button btn btn-primary" type="create" id="createLpBtn">Neuen Lernpfad erstellen +</button>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-7">
        <div class="history">
            <div class="card">
                <div class="card-header">
                    Meine Lernpfade
                </div>
                <div class="card-body">
                    <% data.learningPaths.forEach(lp=>{ %>
                        <div class="row">
                            <div id="openLpDiv<%= lp['lpid'] %>">
                                <button class="button btn btn-primary openLp" id="openLp<%= lp['lpid'] %>">
                                <%= lp['title'] %>
                                </button>
                            </div>
                            <div class="deleteLpClass" id="deleteLpDiv<%= lp['lpid'] %>">
                                <button class="button btn btn-warning deleteLp" id="delete<%= lp['lpid']%>">Löschen</button>
                            </div>
                        </div>
                        <% }); %>
                </div>
           </div>
        </div>
       </div>
        <div class="col-md-5">
            <!-- <div class="start-btn">
                <button class="sbm">Lernpfad importieren +</button>
                <input type="file" accept=".json" class="file">
            </div> -->
            <form class="form"  action="#" method="POST">
                <input type="file" multiple>
                <p>Drag your files here or click in this area</p>
                <button class="sub submit-btn"  type="submit">Lernpfad importieren</button>
            </form>
        </div>
    </div>
   
</div>
<div class="space"></div>

<script>
    $(document).ready(function(){
  $('form input').change(function () {
    $('form p').text(this.files.length + " file(s) selected");
  });
});
</script>
