
<% if(data.learningPaths.length > 0){ %>
    <div class="container-fluid">
        <img class="img-background" src="img/settings.png">
        <hr>
        <div class="row">
            <div class="col-md-8">
                <div class="history">
                    <div class="card">
                        <div class="card-header">
                            Meine Lernpfade
                        </div>
                        <div class="card-body">
                            <input class="form-control"  id="searchIn" onkeyup="searchBox()" type="text" placeholder="Search..">
                            <hr>
                            <div class="container">
                                <div class="lpTableDiv table-responsive">
                                    <table class="lpTable table" id="infoTab"> 
                                       <thead>
                                        <tr id="lpTableHeader">
                                            <th class="lpHeader" scope="col">#</th>
                                            <th class="lpHeader" scope="col">Titel</th>   
                                            <th class="lpHeader" scope="col">Szenarien</th> 
                                            <th class="lpHeader" scope="col">Interaktivitäten</th>  
                                            <th class="lpHeader" scope="col">Taxonomiestufe</th> 
                                            <th class="lpHeader" scope="col">Bewertungsmodus</th> 
                                            <th class="lpHeader" scope="col"></th>
                                        </tr>
                                       </thead>
                                       <tbody id="table">
                                        <% let count = 0; data.learningPaths.forEach(lpR=>{let lp = lpR['content'] %>
                                            <tr id="lpRow<%= lp['id'] %>" scope="row">
                                                <td class="lpInfoCell">
                                                    <%= count %>
                                                </td>
                                                <td>
                                                    <button class="button btn btn-light openLp" id="openLp<%= lp['id'] %>">
                                                        <%= lp['title'] %>
                                                    </button>
                                                </td>
                                                <% 
                                                    let amountScenarios = (lp['scenarios'] ? lp['scenarios'].length : 0); 
                                                %>
                                                <td class="lpInfoCell">
                                                        <%= amountScenarios %>
                                                </td>
                                                <% 
                                                    let amountInter = 0;
                                                        for(let i = 0; i < amountScenarios; i++){
                                                            let amountThisScenario = lp['scenarios'][i]['interactions'] ? lp['scenarios'][i]['interactions'].length : 0
                                                            amountInter += amountThisScenario;
                                                        }
                                                %>
                                                <td class="lpInfoCell">
                                                        <%= amountInter %>
                                                </td>
                                                <td class="lpInfoCell">
                                                    <%= lp['taxonomyLevelID'] %>
                                                </td>
                                                <td class="lpInfoCell">
                                                    <%= lp['evaluationModeID'] %>
                                                </td>
                                                <td class="deleteLpClass">


                                                    <button class="button btn btn-light deleteLp"
                                                            data-toggle="modal" data-target="#deleteLp">Löschen</button>
                                                    <!-- delete -->
                                                    <div class="modal fade" id="deleteLp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Bist Du sicher? </p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light deleteLp" id="delete<%= lp['id']%>" data-dismiss="modal">Löschen</button>
                                                                    <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- delete -->



                                                </td>
                                            </tr>
                                        <% count++;  }); %>
                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="start-btn">
                    <button class="button btn btn-primary" type="create" id="createLpBtn">Neuen Lernpfad erstellen +</button>
                </div>
                <div class="form" id="dropDiv">
                    <input type="file" class="fileDrop" id="importDrop" multiple>
                    <p id="dropText">Ziehe Deine Lernpfad-Dateien in dieses Feld oder klicke darauf, um Dateien von Deinem Rechner auszuwählen!</p>
                </div>
            </div>
        </div>
    </div>
<%}else{%>
    <div class="welcome">
        <div class="welcomeItem">
            <div class="start-btn">
                <button class="button btn btn-primary" type="create" id="createLpBtn">Neuen Lernpfad erstellen +</button>
            </div>
        </div>
        <div class="welcomeItem">
            <div class="form dropDiv" id="dropDiv">
                <input type="file" class="fileDrop" id="importDrop" multiple>
                <p id="dropText">Ziehe Deine Lernpfad-Dateien in dieses Feld oder klicke darauf, um Dateien von Deinem Rechner auszuwählen!</p>
            </div>
        </div>
    </div>
<%}%>
<div class="space"></div>
<script>
    function searchBox() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchIn");
      filter = input.value.toUpperCase();
      table = document.getElementById("infoTab");
      tr = table.getElementsByTagName("tr");
      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>
