<link rel="stylesheet" href="/css/editor.css" type="text/css">
</link>
<div class="container">
    <div class="cover-background">
        <img class="img-background" src="img/settings.png">
        <div class="row">
            <div class="col-md-3">
                <section class="left">
                    <div class="left-side">
                        <div class="title">
                            <label for="lpTitleInput">Titel</label>
                            <input type="text" class="form-control" id="lpTitleInput" value="<%=data.learningpath.title%>">
                        </div>
                        <hr>
                        <div class="note">
                            <p>Notizen</p>
                            <div class="noteContainer" type="button" data-toggle="modal" data-target="#exampleModal">
                                <img src="img/post-it.png" alt="Notitzen" style="width:100%;">
                                <p class="notesLeft" id="noteP">
                                    <%=data.learningpath.notes%>
                                </p>
                            </div>



                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Notizen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="lpNotes">Notizen</label>
                                                    <textarea class="form-control" id="lpNotes" rows="3" onchange="document.getElementById('noteP').innerHTML = document.getElementById('lpNotes').value"><%=data.learningpath.notes%></textarea>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="rate-part">
                            <p>Bewertungsmodus </p>
                            <form>
                                <div class="form-group col-12">
                                    <select class="form-control" id="lpEvaluationMode" selected="<%=data.learningpath.evaluationModeID%>">
                                        <% if(data.evaluationModes){  data.evaluationModes.forEach(evalMode=>{ %>
                                        <option <% if(evalMode == data.learningpath.evaluationModeID){ %> selected <%}%> > <%= evalMode %> </option>
                                        <% }); } %>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="activity">
                            <p>Interaktivitäten</p>

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <div class="material-group scenarios" id="accordion">

                    <% if(data.learningpath.scenarios){ 
                        let count = 0; 
                        data.learningpath.scenarios.forEach(sc=>{ 
                            let lastScenario = count == data.learningpath.scenarios.length - 1;
                            let showLastscenario = lastScenario ? ' show' : '';
                            %>

                        <div class="card scenario">
                            <div class="card-header" id="heading<%= count %>">
                                <button class="btn btn-link" data-toggle="collapse" style="width:100%;" data-target="#collapse<%= count %>" aria-expanded="<%= lastScenario %>" aria-controls="collapse<%= count %>">
                                <h5 class="mb-0">
                                    <input type="text" class="form-control" id="lpTitleInput<%= count %>" value="<%= sc.title %>">

                                    <img src="./img/script.png" alt="script" class="script">
                                    <button class="button btn btn-warning" style="width:20%;" id="deleteScenario<%= count %>">-</button>
                                </button>
                                </h5>
                            </div>


                            <div id="collapse<%= count %>" class="collapse<%= showLastscenario %>" aria-labelledby="heading<%= count %>" data-parent="#accordion">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="lpDescription<%= count %>">Beschreibung</label>
                                            <input type="text" class="form-control" id="lpDescription<%= count %>" value="<%= sc.description %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="lpLearningGoal<%= count %>">Lernziel</label>
                                            <input type="text" class="form-control" id="lpLearningGoal<%= count %>" value="<%= sc.learningGoal %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="lpResource<%= count %>">Quelle</label>
                                            <input type="text" class="form-control" id="lpResource<%= count %>" value="<%= sc.resource %>">
                                        </div>
                                    </form>
                                    <div>
                                        <label>Material</label>
                                        <div class="innen-material">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% count++; }); }%>

                            <div class="card scenario">
                                <div class="card-header" id="headingAddScenario">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" id="addScenarioButton" data-toggle="collapse" data-target="#collapseAddScenario" aria-expanded="false" aria-controls="collapseAddScenario">
                                    +
                                </button>
                                    </h5>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-md-3">
                <section class="right">
                    <div class="right-side">
                        <p>Interaktionen</p>                        
                        <div class="interactivityPicker">
                            <% if(data.learningpath.interactivityTypes){
                                let count = 0;
                                for (let [key, value] of Object.entries(data.learningpath.interactivityTypes)){ %>
                                    <a class="interactivityCategory" style="width:100%;">
                                        <%= key %>
                                    </a>
                                    <% value.forEach(val=> { %>
                                        <a class="selectedInteractivity" style="width:100%;">
                                            <%= val %>
                                        </a>
                            <% });}} %>                                    
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

</div>