<link rel="stylesheet" href="/css/editor.css" type="text/css">
</link>
<div class="container-fluid">
    <div class="cover-background">
        <div class="row">
            <div class="col-2">
                <section class="left">
                    <div class="left-side">
                        <div class="title">
                            <label for="lpTitleInput">Titel</label>
                            <input type="text" class="form-control" id="lpTitleInput" value="<%=data.learningpath.title%>">
                        </div>
                        <hr>
                        <div class="note">
                            <p>Notizen</p>
                            <textarea class="form-control lpNotes" id="lpNotes" style="background-image:url('/img/post-it.png')"><%=data.learningpath.notes%></textarea>
                        </div>
                        <hr>
                        <div class="rate-part">
                            <p>Bewertungsmodus </p>
                            <form>
                                <div class="form-group col-12">
                                    <select class="form-control" id="lpEvaluationMode" selected="<%=data.learningpath.evaluationModeID%>">
                                        <% if(data.evaluationModes){  data.evaluationModes.forEach(evalMode=>{ %>
                                        <option <% if(evalMode == data.learningpath.evaluationModeID){ %> selected <%}%> > <%= evalMode %> </option>
                                        <% }); } %>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="interactivity">
                            <p>Interaktivitäten</p>
                            <div class="interactivityList">
                                <% if(data.learningpath.scenarios[data.learningpath.scenarios.length-1].interactions){
                                let count = 0;
                                data.learningpath.scenarios[data.learningpath.scenarios.length-1].interactions.forEach(ia=>{ %>
                                    <div class="interactivityList">
                                        <button class="interactivityListItem" id="iaListItem<%= count %>">
                                            <%= ia.category %> -
                                                <%= ia.interactionType %>
                                    </button>
                                    </div>
                                    <% count++; }); %>
                                        <% } %>
                            </div>
                        </div>
                </section>
                </div>
                <div class="col-8 midCol">
                    <div class="material-group scenarios" id="accordion">

                        <% if(data.learningpath.scenarios){ 
                        let count = 0; 
                        data.learningpath.scenarios.forEach(sc=>{ 
                            let lastScenario = count == data.learningpath.scenarios.length - 1;
                            let showLastscenario = lastScenario ? ' show' : '';
                            %>

                            <div class="card scenario">
                                <div class="card-header" id="heading<%= count %>">
                                    <h5 class="mb-0">
                                        <input type="text" class="form-control lpTitleInput" id="lpTitleInput<%= count %>" value="<%= sc.title %>">
                                        <button class="btn btn-link openScenario" data-toggle="collapse" id="openScenario<%= count %>" style="width:100%;" data-target="#collapse<%= count %>" aria-expanded="<%= lastScenario %>" aria-controls="collapse<%= count %>">
                                    <img src="./img/script.png" id="openScenario<%= count %>" alt="script" class="script">
                                </button>
                                        <button class="button btn btn-warning deleteScenario" style="width:20%;" id="deleteScenario<%= count %>">-</button>
                                    </h5>
                                </div>


                                <div id="collapse<%= count %>" class="collapse<%= showLastscenario %>" aria-labelledby="heading<%= count %>" data-parent="#accordion">
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="lpDescription<%= count %>">Beschreibung</label>
                                                <input type="text" class="form-control lpDescription" id="lpDescription<%= count %>" value="<%= sc.description %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="lpLearningGoal<%= count %>">Lernziel</label>
                                                <input type="text" class="form-control lpLearningGoal" id="lpLearningGoal<%= count %>" value="<%= sc.learningGoal %>">
                                            </div>
                                            <div class="form-group">
                                                <label for="lpResource<%= count %>">Material URL</label>
                                                <input type="text" class="form-control lpResource" id="lpResource<%= count %>" value="<%= sc.resource %>" onchange="addImage(this.id)">
                                            </div>
                                        </form>
                                        <div>
                                            <label>Material</label>
                                            <div class="inner-material">

                                                <div class="workspace" id="workspace">
                                                    
                                                    <img id="imageID" > 
                                  
                                                </div>

                                                <div class="interactionSettings">
                                                    <div class="form-group coords">
                                                        <label class="centeredLabel" for="x_coord">X</label>
                                                        <input type="text" class="form-control interSet x_coord" id="x_coord">
                                                        <label class="centeredLabel" for="y_coord">Y</label>
                                                        <input type="text" class="form-control interSet y_coord" id="y_coord">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="centeredLabel" for="EvaluationHeurestic">Erreichbare Wertung</label>
                                                        <input type="text" class="form-control interSet EvaluationHeurestic" id="EvaluationHeurestic">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="centeredLabel" for="BehaviorSettings">Verhaltenseinstellungen</label>
                                                        <select class="form-control interSet" id="BehaviorSettings">
                                                    <option selected>Hover</option>
                                                    <option>Click</option>
                                                </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="centeredLabel" for="interactionTypeDrop">Interaktionstyp</label>
                                                        <select class="form-control interSet" id="interactionTypeDrop">
                                                    <% if(data.learningpath.interactivityTypes){
                                                        let count = 0;
                                                        for (let [key, value] of Object.entries(data.learningpath.interactivityTypes)){ %>
                                                            <optgroup label=<%= key %>>
                                                            <% value.forEach(val=> { %>
                                                                    <option id="$$<%= key %>$$ <%= val %>" class="changeInteractivity">
                                                                        <%= val %>
                                                                    </option>
                                                                <% });}} %>
                                                </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% count++; }); }%>

                                <div class="card scenario">
                                    <div class="card-header" id="headingAddScenario">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" id="addScenarioButton" data-toggle="collapse" data-target="#collapseAddScenario" aria-expanded="false" aria-controls="collapseAddScenario">
                                    +
                                </button>
                                        </h5>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="col-2">
                    <section class="right">
                        <div class="right-side">
                            <p>Interaktionen</p>
                            <hr>
                            <div class="interactivityPicker">
                                <% if(data.learningpath.interactivityTypes){
                                let count = 0;
                                for (let [key, value] of Object.entries(data.learningpath.interactivityTypes)){ %>
                                    <div class="categoryBox">
                                        <h6 class="interactivityCategory">
                                            <%= key %>
                                        </h6>
                                        <% value.forEach(val=> { %>
                                            <div class="interactivityBox" id="<%= key %>$$<%= val %>" draggable="true">
                                                <p class="selectedInteractivity">
                                                    <%= val %>
                                                </p>
                                                <span class="tooltiptext"> <%= val %> </span>
                                            </div>
                                            <% });}} %>
                                    </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>