<link rel="stylesheet" href="/css/editor.css" type="text/css">
</link>
<div class="container">
    <div class="cover-background">
        <img class="img-background" src="img/settings.png">
        <div class="row">
            <div class="col-md-3">
                <section class="left">
                    <div class="left-side">
                        <div class="title">
                            <label for="lpTitleInput">Titel</label>
                            <input type="text" class="form-control" id="lpTitleInput" value="<%=data.learningpath.props.title%>">
                        </div>
                        <hr>
                        <div class="note">
                            <p>Notizen</p>
                            <img type="button" data-toggle="modal" data-target="#exampleModal" src="img/post-it.png" alt="Notitzen">


                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Notizen</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="lpNotes">Notizen</label>
                                                    <textarea class="form-control" id="lpNotes" rows="3"></textarea>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="rate-part">
                            <p>Bewertungsmodus </p>
                            <form>
                                <div class="form-group col-12">
                                    <select class="form-control" id="lpEvaluationMode">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="activity">
                            <p>Interaktivitäten</p>

                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <div class="material-group scenarios" id="accordion">

                    <% if(data.learningpath.scenarios){ let count = 0; data.learningpath.scenarios.forEach(sc=>{ count++; %>

                        <div class="card scenario">
                            <div class="card-header" id="heading<%= count %>">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= count %>" aria-expanded="false" aria-controls="collapse<%= count %>">
                                    <img src="./img/script.png" alt="script" class="script"> <%= sc.props.title %>
                                </button>
                                </h5>
                            </div>

                            <div id="collapse<%= count %>" class="collapse" aria-labelledby="heading<%= count %>" data-parent="#accordion">
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="lpDescrition<%= count %>">Beschreibung</label>
                                            <input type="text" class="form-control" id="lpDescrition<%= count %>" placeholder="Beschreibung">
                                        </div>
                                        <div class="form-group">
                                            <label for="lpLearningGoal<%= count %>">Lernziel</label>
                                            <input type="text" class="form-control" id="lpLearningGoal<%= count %>" placeholder="Lernziel">
                                        </div>
                                    </form>
                                    <div>
                                        <label>Material</label>
                                        <div class="innen-material">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% }); }%>

                            <div class="card scenario">
                                <div class="card-header" id="headingAddScenario">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" id="addScenarioButton" data-toggle="collapse" data-target="#collapseAddScenario" aria-expanded="false" aria-controls="collapseAddScenario">
                                    +
                                </button>
                                    </h5>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>

</div>