<div class="material-group">
    <div class="container lpSettings">
        <div class="setting-section">
            <p class="top-name">
                <h3>Lernpfad-Einstellungen</h3>
            </p>
        
            <div class="settingsItem" id="title">
                <label class="settingsHeading" for="lpTitleInput">Titel</label>
                <input type="text" onSubmit="return false;" class="form-control" id="lpTitleInput" value="<%=data.learningPath.title%>">
            </div>
            <br>
            <div>
                <div class="settingsItem" id="interactionTypes">
                    <label class="settingsHeading" for="categoryTabs">Interaktionstypen für diesen Lernpfad</label>
                    <ul class="nav nav-tabs" id="categoryTabs" role="tablist">
                        <% if(data.interactionTypes){ 
                            let counter = 0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.interactionTypes)){ 
                                let active = (counter == 0 ? "active" : "");
                                %>
                                <li class="nav-item">
                                    <a class="nav-link <%= active %>" draggable="false" id="<%= categoryName %>-tab" data-toggle="tab" href="#a<%= categoryName %>" role="tab" aria-controls="tmpCat" aria-selected="false">
                                        <% catName = categoryName.replace("_"," "); %>
                                        <%= catName %>
                                    </a>
                                </li>
                            <%counter++ }
                        }%>
                        <% if(data.learningPath.lpSettings.createdTypes){
                            let counter=0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.learningPath.lpSettings.createdTypes)){
                                let defaultCatNames = Object.keys(data.interactionTypes);
                                if(!defaultCatNames.includes(categoryName)){%>
                                    <li class="nav-item">
                                        <a class="nav-link" draggable="false" id="<%= categoryName %>-tab" data-toggle="tab" href="#a<%= categoryName %>" role="tab" aria-controls="tmpCat" aria-selected="false">
                                            <% catName=categoryName.replace("_"," "); %>
                                            <%= catName %>
                                        </a>
                                    </li>
                            <%}counter++ }}%>
                            <li class="nav-item" id="addTabNav">
                                <h4 class="nav-link" id="addNewCat" role="button">
                                    +
                                </h4>
                            </li>
                    </ul>
                    <div class="tab-content" id="categoryTabsContent">
                        <% if(data.interactionTypes){
                            counter = 0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.interactionTypes)){ 
                                let showActive = (counter == 0 ? "show active" : "");
                                let active = (counter == 0 ? "active" : "");
                                %>
                                <div class="tab-pane fade<%= showActive %>" id="a<%= categoryName %>" role="tabpanel" aria-labelledby="<%= categoryName %>-tab">
                                    <div class="items <%= categoryName %> <%= active %>">
                                        <% for (let interactionTypeName of interactionTypes){
                                            var checked = "";
                                            if (data.learningPath.lpSettings.activeDefaultTypes[categoryName]){
                                                if (data.learningPath.lpSettings.activeDefaultTypes[categoryName].includes(interactionTypeName)){
                                                    checked = "checked";}
                                            }%>
                                            <input class="defaultInputCB<%= categoryName %>" type="checkbox" <%= checked %> id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                            <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                            <br>
                                        <% } 
                                        if(data.learningPath.lpSettings.createdTypes[categoryName]){
                                            for (let [interactionTypeName, active] of Object.entries(data.learningPath.lpSettings.createdTypes[categoryName])){
                                                let checked = (active ? "checked" : true);%>
                                                <input class="defaultInputCB<%= categoryName %>" type="checkbox" <%= checked %> id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                                <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                                <button class="button btn-light intChangeBtn">
                                                    <img class="button delIntIcon" src="img/trash.svg">
                                                </button>
                                                <button class="button btn-light intChangeBtn">
                                                    <img class="button nameIntIcon" src="img/edit.png">
                                                </button>
                                                <br>
                                        <%} } %>
                                        <div id="lastCheckboxelement<%= categoryName %>"></div>
                                    </div>
                                    <div class="settingsItems">
                                        <button class="btn btn-light checkAllBtn customInput selectAllDefaultCat" id="catCheck <%= categoryName %>"> Alle aus dieser Kategorie auswählen </button>
                                        <button class="btn btn-light checkAllBtn customInput selectNoneDefaultCat" id="catUnCheck <%= categoryName %>"> Keine aus dieser Kategorie auswählen </button>
                                        <div class="newTypeWrap customInput">
                                            <input type="text" onSubmit="return false;" class="form-control newIntertypeName flexInput" id="newIntertypeName-<%= categoryName %>" placeholder="Neuer Interaktionstyp">
                                            <button class="btn btn-light createBtn createNewInt flexInput" id="createNewInt-<%= categoryName %>">+</button>
                                        </div>
                                    </div>
                                </div>
                                <%counter++}}  %>
                        <div id="lastTabContent"></div>

                        <% if(data.learningPath.lpSettings.createdTypes){
                            counter=0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.learningPath.lpSettings.createdTypes)){
                                let defaultCatNames = Object.keys(data.interactionTypes);
                                if(!defaultCatNames.includes(categoryName)){%>
                                    <div class="tab-pane fade" id="a<%= categoryName %>" role="tabpanel" aria-labelledby="<%= categoryName %>-tab">
                                        <div class="items <%= categoryName %>">
                                            <% for (let [interactionTypeName, active] of Object.entries(interactionTypes)){
                                                var checked = (active ? "checked" : "");%>
                                                <input class="createdIntInputCB<%= categoryName %>" type="checkbox" <%=checked %> id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                                <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                                <button class="button btn-light intChangeBtn">
                                                    <img class="button delIntIcon" src="img/trash.svg">
                                                </button>
                                                <button class="button btn-light intChangeBtn">
                                                    <img class="button nameIntIcon" src="img/edit.png">
                                                </button>
                                                <br>
                                            <% } %>
                                            <div id="lastCheckboxelement<%= categoryName %>"></div>
                                        </div>
                                        <div class="settingsItems">
                                            <button class="btn btn-light checkAllBtn customInput selectAllCreatedCat" id="catCheck <%= categoryName %>"> Alle aus dieser Kategorie auswählen </button>
                                            <button class="btn btn-light checkAllBtn customInput selectNoneCreatedCat" id="catUnCheck <%= categoryName %>"> Keine aus dieser Kategorie auswählen </button>
                                            <input type="text" onSubmit="return false;" class="form-control customInput newIntertypeName" id="newIntertypeName-<%= categoryName %>" placeholder="Neuer Interaktionstyp">
                                            <button class="btn btn-light createBtn customInput createNewInt" id="createNewInt-<%= categoryName %>">+</button>
                                        </div>
                                    </div>
                            <%}counter++}} %>
                                <div id="lastTabContent"></div>
                    </div>
                </div>
            </div>
            <div class="settingsItem" id="remainingSettings">
                <p class="settingsHeading">Weitere Einstellungen</p>
                <%let WarnSettingChecked = (data.learningPath.lpSettings.ignoreWarnings ? "checked" : "" ) %>
                <input type="checkbox" class="checkIgnoWar" id="ignoreWarnings" name="ignoreWarnings" <%= WarnSettingChecked %>>
                <label for="ignoreWarnings">Warnungen ignorieren</label>
            </div>
        </div>
        <div class="modal fade" id="modalIgnoWar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Möchtest Du wirklich alle Warnungen und Sicherheitsabfragen abstellen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="setIgnoWarnings" data-dismiss="modal">Ja</button>
                        <button type="button" class="btn btn-light" id="uncheckIgnoWarnings" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="nameNewCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Neue Kategorie</h5>
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Wie soll die neue Kategorie heißen?</p>
                        <input type="text" onSubmit="return false;" name="catNameGiven" class="form-control" id="catNameGiven">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="addTab" data-dismiss="modal">Kategorie erstellen</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
