<div class="material-group">
    <div class="container lpSettings">
        <div class="setting-section">
            <p class="top-name">
                <h3>Lernpfad-Einstellungen</h3>
            </p>
        
            <div class="settingsItem" id="title">
                <label for="lpTitleInput">Titel</label>
                <input type="text" onSubmit="return false;" class="form-control" id="lpTitleInput" value="<%=data.learningPath.title%>">
            </div>
            <div>
                <div class="settingsItem" id="interactionTypes">
                    <label for="categoryTabs">Interaktionstypen für diesen Lernpfad</label>
                    <ul class="nav nav-tabs" id="categoryTabs" role="tablist">
                        <% if(data.learningPath.interactionTypes){ 
                        let counter = 0;
                        for (let [categoryName, interactionTypes] of Object.entries(data.learningPath.interactionTypes)){ 
                            let first = counter == 0 ? true : false;
                            let active = first ? ' active' : '';
                            %>
                            <li class="nav-item">
                                <a class="nav-link" draggable="false" id="<%= categoryName %>-tab" data-toggle="tab" href="#a<%= categoryName %>" role="tab" aria-controls="tmpCat" aria-selected="false">
                                    <input type="text" onSubmit="return false;" class="form-control-sm newCat changeCatName" id="changeCatName-<%= categoryName %>" style="background-color:transparent; border:none" value="<%= categoryName %>">
                                </a>
                            </li>
                            <%counter++ } %>
                            <li class="nav-item" id="addtabNav">
                                <h4 class="nav-link" id="addTab" role="button">
                                    +
                                </h4>
                            </li>
                    </ul>
                    <div class="tab-content" id="categoryTabsContent">
                    <%
                        counter = 0;
                        for (let [categoryName, interactionTypes] of Object.entries(data.learningPath.interactionTypes)){ 
                            let showActive = counter == 0 ? ' show active' : '';
                            let active = counter == 0 ? ' active' : ''; %>
                        <div class="tab-pane fade<%= showActive %>" id="a<%= categoryName %>" role="tabpanel" aria-labelledby="
                        <%= categoryName %>-tab">
                            <div class="items <%= categoryName %> <%= active %>">
                            <% for (let [interactionTypeName, interactionChecked] of Object.entries(interactionTypes)){ %>
                            <input class="interactionInputCB<%= categoryName %>" <% if (interactionChecked == "true"){ %> checked
                                <% } %> type="checkbox" id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                <br>
                                <% } %>
                                <div id="lastCheckboxelement<%= categoryName %>"></div>
                            </div>
                            <div class="settingsItems">
                                <button class="btn btn-light checkAllBtn customInput selectAll" id="catCheck <%= categoryName %>"> Alle aus dieser Kategorie auswählen </button>
                                <button class="btn btn-light checkAllBtn customInput selectNone" id="catUnCheck <%= categoryName %>"> Keine aus dieser Kategorie auswählen </button>
                                <input type="text" onSubmit="return false;" class="form-control customInput newIntertypeName" id="newIntertypeName-<%= categoryName %>" placeholder="Neuer Interaktionstyp">
                                <button class="btn btn-light createBtn customInput createInter" id="createInter-<%= categoryName %>">+</button>
                            </div>
                        </div>
                        <%counter++} %>
                        <div id="lastTabContent"></div>
                    </div>
                    <%} %>
                </div>
            </div>
        </div>
    </div>
</div>
