<% // TODO DRY
// return true if data is available
function canBeRead(root, calls){
    if(calls.length == 1 && root[calls[0]])
        return true
    if(root[calls[0]]){
        let origCalls = calls.slice()
        calls.splice(0, 2, calls[1])
        return canBeRead(root[origCalls[0]], calls)
    }
    return false
}
%>

<div class="material-group">
    <div class="container lpSettings">
        <div class="setting-section">
            <p class="top-name">
                <h3>Lernpfad-Einstellungen</h3>
            </p>
            <br><hr><br>
            <div class="settingsItem">
                <label class="settingsHeading" for="lpTitleInput">Titel</label>
                <input type="text" onSubmit="return false;" class="form-control setItemCenter" id="lpTitleInput" value="<%=data.learningPath.title%>">
            </div>
            <br><hr><br>
            <div class="settingsItem">
                <label class="settingsHeading" for="lpTaxonomyLevel">Taxonomiestufe</label>
                <select class="form-control setItemCenter" id="lpTaxonomyLevel" selected="<%=data.learningPath.taxonomyLevel%>">
                    <% if(canBeRead(data, ['taxonomyLevels'])){  data.taxonomyLevels.forEach(taxLev=>{ %>
                        <option <% if(taxLev == data.learningPath.taxonomyLevel){ %> selected <%}%> > <%= taxLev %> </option>
                    <% }); } %>
                </select>
            </div>
            <br><hr><br>
            <div class="settingsItem">
                <label class="settingsHeading" for="lpEvaluationMode">Bewertungsmodus</label>
                <select class="form-control setItemCenter" id="lpEvaluationMode" selected="<%=data.learningPath.evaluationModeID%>">
                    <% if(canBeRead(data, ['evaluationModes'])){  data.evaluationModes.forEach(evalMode=>{ %>
                        <option <% if(evalMode == data.learningPath.evaluationModeID){ %> selected <%}%> > <%= evalMode %> </option>
                    <% }); } %>
                </select>
            </div>
            <br><hr><br>
            <div>
                <div class="settingsItem" id="interactionTypes">
                    <label class="settingsHeading" for="categoryTabs">Interaktionstypen für diesen Lernpfad</label>
                    <ul class="nav nav-tabs" id="categoryTabs" role="tablist">
                        <% if(data.interactionTypes){ 
                            let counter = 0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.interactionTypes)){ 
                                let active = (counter == 0 ? "active" : "");
                                %>
                                <li class="nav-item">
                                    <a class="nav-link <%= active %>" draggable="false" id="<%= categoryName %>-tab" data-toggle="tab" href="#a<%= categoryName %>" role="tab" aria-controls="tmpCat" aria-selected="false">
                                        <% catName = categoryName.replace("_"," "); %>
                                        <%= catName %>
                                    </a>
                                </li>
                            <%counter++ }
                        }%>
                        <% if(data.learningPath.lpSettings.createdTypes){
                            let counter=0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.learningPath.lpSettings.createdTypes)){
                                let defaultCatNames = Object.keys(data.interactionTypes);
                                if(!defaultCatNames.includes(categoryName)){%>
                                    <li class="nav-item" id= "<%= categoryName %>Nav">
                                        <a class="nav-link" draggable="false" id="<%= categoryName %>-tab" data-toggle="tab" href="#a<%= categoryName %>" role="tab" aria-controls="tmpCat" aria-selected="false">
                                            <% catName=categoryName.replace("_"," "); %>
                                            <%= catName %>
                                        </a>
                                        <div class="catNavWrapper">
                                            <button class="button btn-light catContent intChangeBtn catDelBtn" id="catDel<%= categoryName %>">
                                                <img class="button delIntIcon catDelBtn" id="catDel<%= categoryName %>" src="img/trash.svg">
                                            </button>
                                            <button class="button btn-light catContent intChangeBtn catRenameBtn" id="catRename<%= categoryName %>">
                                                <img class="button nameIntIcon catRenameBtn" id="catRename<%= categoryName %>" src="img/edit.png">
                                            </button>
                                        </div>
                                    </li>
                            <%}counter++ }}%>
                            <li class="nav-item" id="addTabNav">
                                <h4 class="nav-link" id="addNewCat" role="button">
                                    +
                                </h4>
                            </li>
                    </ul>
                    <div class="tab-content">
                        <% if(data.interactionTypes){
                            counter = 0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.interactionTypes)){ 
                                let showActive = (counter == 0 ? "show active" : "");
                                let active = (counter == 0 ? "active" : "");
                                %>
                                <div class="tab-pane fade<%= showActive %>" id="a<%= categoryName %>" role="tabpanel" aria-labelledby="<%= categoryName %>-tab">
                                    <div class="tabWrap">
                                        <div class="itemWrap">
                                            <div class="items <%= categoryName %> <%= active %>" id="<%= categoryName %>act">
                                                <% for (let interactionTypeName of interactionTypes){
                                                    var checked = "";
                                                    if (data.learningPath.lpSettings.activeDefaultTypes[categoryName]){
                                                        if (data.learningPath.lpSettings.activeDefaultTypes[categoryName].includes(interactionTypeName)){
                                                            checked = "checked";}
                                                    }%>
                                                    <input class="defaultInputCB<%= categoryName %>" type="checkbox" <%= checked %> id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                                    <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                                    <br>
                                                <% } 
                                                if(data.learningPath.lpSettings.createdTypes[categoryName]){
                                                    for (let [interactionTypeName, active] of Object.entries(data.learningPath.lpSettings.createdTypes[categoryName])){
                                                        let checked = (active ? "checked" : true);%>
                                                        <div id="div<%= categoryName %><%= interactionTypeName %>">
                                                            <input class="createdInputCB<%= categoryName %>" type="checkbox" <%= checked %> id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                                            <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                                            <button class="button btn-light intChangeBtn intDelBtn <%= categoryName %>" id="delCreInt<%= interactionTypeName %>">
                                                                <img class="button delIntIcon intDelBtn <%= categoryName %>" id="delCreInt<%= interactionTypeName %>" src="img/trash.svg">
                                                            </button>
                                                            <button class="button btn-light intChangeBtn intRenameBtn <%= categoryName %>" id="renameCreInt<%= interactionTypeName %>">
                                                                <img class="button nameIntIcon intRenameBtn <%= categoryName %>" id="renameCreInt<%= interactionTypeName %>" src="img/edit.png">
                                                            </button>
                                                            <br>
                                                        </div>
                                                <%} } %>
                                                <div id="lastCheckboxelement<%= categoryName %>"></div>
                                                <div class="newTypeWrap">
                                                    <input type="text" onSubmit="return false;" class="form-control newIntertypeName flexInput" id="newIntertypeName-<%= categoryName %>" placeholder="Interaktionstyp">
                                                    <button class="btn-light createBtn createNewInt flexInput" id="createNewInt-<%= categoryName %>">+</button>
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                    <div class="settingsItems">
                                        <button class="btn btn-light checkAllBtn customInput selectAllDefaultCat" id="catCheck <%= categoryName %>"> Alle aus <%= categoryName.replaceAll("_"," ") %> auswählen </button>
                                        <button class="btn btn-light checkAllBtn customInput selectNoneDefaultCat" id="catUnCheck <%= categoryName %>"> Keine aus <%= categoryName.replaceAll("_"," ") %> auswählen </button>
                                    </div>
                                </div>
                                <%counter++}}  %>
                        <div id="lastTabContent"></div>

                        <% if(data.learningPath.lpSettings.createdTypes){
                            counter=0;
                            for (let [categoryName, interactionTypes] of Object.entries(data.learningPath.lpSettings.createdTypes)){
                                let defaultCatNames = Object.keys(data.interactionTypes);
                                if(!defaultCatNames.includes(categoryName)){%>
                                    <div class="tab-pane fade" id="a<%= categoryName %>" role="tabpanel" aria-labelledby="<%= categoryName %>-tab">
                                        <div class="tabWrap">
                                            <div class="itemWrap">
                                                <div class="items <%= categoryName %>" id="<%= categoryName %>act">
                                                    <% for (let [interactionTypeName, active] of Object.entries(interactionTypes)){
                                                        var checked = (active ? "checked" : "");%>
                                                        <div id="div<%= categoryName %><%= interactionTypeName %>">
                                                            <input class="createdInputCB<%= categoryName %>" type="checkbox" <%=checked %> id="<%= interactionTypeName %>CB" name="<%= interactionTypeName %>">
                                                            <label for="<%= interactionTypeName %>CB"><%= interactionTypeName %></label>
                                                            <button class="button btn-light intChangeBtn intDelBtn <%= categoryName %>" id="delCreInt<%= interactionTypeName %>">
                                                                <img class="button delIntIcon intDelBtn <%= categoryName %>" id="delCreInt<%= interactionTypeName %>" src="img/trash.svg">
                                                            </button>
                                                            <button class="button btn-light intChangeBtn intRenameBtn <%= categoryName %>"
                                                                id="renameCreInt<%= interactionTypeName %>">
                                                                <img class="button nameIntIcon intRenameBtn <%= categoryName %>" id="renameCreInt<%= interactionTypeName %>" src="img/edit.png">
                                                            </button>
                                                            <br>
                                                        </div>
                                                    <% } %>
                                                    <div id="lastCheckboxelement<%= categoryName %>"></div>
                                                </div>
                                                <div class="newTypeWrap">
                                                    <input type="text" onSubmit="return false;" class="form-control newIntertypeName flexInput" id="newIntertypeName-<%= categoryName %>" placeholder="Interaktionstyp">
                                                    <button class="btn-light createBtn createNewInt flexInput" id="createNewInt-<%= categoryName %>">+</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="settingsItems">
                                            <button class="btn btn-light checkAllBtn customInput selectAllCreatedCat" id="catCheck <%= categoryName %>"> Alle aus <%= categoryName %> auswählen </button>
                                            <button class="btn btn-light checkAllBtn customInput selectNoneCreatedCat" id="catUnCheck <%= categoryName %>"> Keine <%= categoryName %> Kategorie auswählen </button>
                                        </div>
                                    </div>
                            <%}counter++}} %>
                            <div id="lastTabContent"></div>
                    </div>
                </div>
            </div>
            <br><hr><br>
            <div class="settingsItem" id="remainingSettings">
                <p class="settingsHeading">Weitere Einstellungen</p>
                <%let WarnSettingChecked = (data.learningPath.lpSettings.ignoreWarnings ? "checked" : "" ) %>
                <input type="checkbox" class="checkIgnoWar" id="ignoreWarnings" name="ignoreWarnings" <%= WarnSettingChecked %>>
                <label for="ignoreWarnings">Warnungen ignorieren</label>
            </div>
            <br><hr><br>
            <div class="settingsItem settingsItems">
                    <button class="btn btn-light customInput" id="stealSettingsBtn">Einstellungen übernehmen</button>
                    <button class="btn btn-light customInput" id="resetSettingsBtn">Einstellungen zurücksetzen</button>
            </div>
        </div>
        <div class="modal fade" id="modalIgnoWar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Möchtest Du wirklich alle Warnungen und Sicherheitsabfragen abstellen?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="setIgnoWarnings" data-dismiss="modal">Ja</button>
                        <button type="button" class="btn btn-light" id="uncheckIgnoWarnings" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="nameNewCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Neue Kategorie</h5>
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Wie soll die neue Kategorie heißen?</p>
                        <input type="text" onSubmit="return false;" name="catNameGiven" class="form-control" id="catNameGiven">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="addTab" data-dismiss="modal">Kategorie erstellen</button>
                        <button type="button" class="btn btn-light" id="catNameDismiss" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delIntModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Bist Du sicher?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light intDelModalBtn" id="interactionTypeNameBtn" name="categoryNameBtn" data-dismiss="modal">Löschen</button>
                        <button type="button" class="btn btn-light intDelDismiss" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="renameIntModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Wie soll der Interaktionstyp ab sofort heißen?</p>
                        <input type="text" onSubmit="return false;" name="newIntNameGiven" class="form-control" id="newIntNameGiven">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light intRenameModalBtn" id="interactionTypeNameBtn" name="categoryNameBtn" data-dismiss="modal">Bestätigen</button>
                        <button type="button" class="btn btn-light intRenameDismiss" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalStealtSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Von welchem Lernpfad möchtest Du die Einstellungen übernehmen?</p>
                        <select class="form-control" id="stealSettingsDrop"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="stealSettingsConfirm" data-dismiss="modal">OK</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalResetSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                    </div>
                    <div class="modal-body">
                        <p class="modalText">Bist Du sicher?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" id="resetSettings" data-dismiss="modal">Ja</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delCatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        <p class="modalText">Bist Du sicher?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light catDelModalBtn" id="categoryNameBtn" data-dismiss="modal">Löschen</button>
                        <button type="button" class="btn btn-light catDelDismiss" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="renameCatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header"></div>
                    <div class="modal-body">
                        <p class="modalText">Wie soll die Kategorie ab sofort heißen?</p>
                        <input type="text" onSubmit="return false;" name="newCatNameGiven" class="form-control" id="newCatNameGiven">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light catRenameModalBtn" id="categoryNameBtn" data-dismiss="modal">Bestätigen</button>
                        <button type="button" class="btn btn-light catRenameDismiss" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
