<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css"
integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container lpSettings">
    <div class="setting-section">
        <p class="top-name">
            <h3>Lernpfad-Einstellungen</h3>
        </p>
       
        <div class="settingsItem col-md-8" id="title">
            <label for="lpTitleInput">Titel</label>
            <input type="text" class="form-control" id="lpTitleInput" value="<%=data.learningPath.title%>">
        </div>
       <div>
        <div class="settingsItem" id="interactivityTypes">
            <label for="myTab">Interaktionstypen für diesen Lernpfad</label>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <% if(data.availableInteractivityTypes){ 
                let counter = 0;
                for (let [key, value] of Object.entries(data.availableInteractivityTypes)){ 
                    let first = counter == 0 ? true : false;
                    let active = first ? ' active' : '';
                    %>
                    <li class="nav-item">
                        <a class="nav-link<%= active %>" id="<%= key %>-tab" data-toggle="tab" href="#a<%= key %>" role="tab" aria-controls="<%= key %>" aria-selected="<%= first %>">
                            <% keyName = key.replace("_", " "); %>
                            <%= keyName %>
                        </a>
                    </li>
                    <%counter++ } %>
            </ul>
            <div class="tab-content" id="myTabContent">
            <%
                counter = 0;
                for (let [key, value] of Object.entries(data.availableInteractivityTypes)){ 
                    let showActive = counter == 0 ? ' show active' : '';
                    let active = counter == 0 ? ' active' : ''; %>
                <div class="tab-pane fade<%= showActive %>" id="a<%= key %>" role="tabpanel" aria-labelledby="
                <%= key %>-tab">
                    <div class="items <%= key %> <%= active %>">
                    <% value.forEach(val=>{ checked = (data.learningPath.interactivityTypes[key] && data.learningPath.interactivityTypes[key].includes(val)) ? true : false; %>
                       <input class="interactivityInputCB <%= key %>" <% if (checked){ %> checked
                        <% } %> type="checkbox" id="<%= val %>CB" name="<%= val %>">
                        <label for="<%= val %>CB"><%= val %></label>
                        <br>
                        <% }); %>
                       
                    </div>
              
                </div>
                <%counter++} %>
            </div>
            <%} %>
        </div>
        <div class="settingsItem col-md-8">
            <button class="button btn btn-dark" id="selectAllInter"> Alle auswählen </button>
            <button class="button btn btn-dark" id="selectNoneInter"> Keine auswählen </button>
        </div>
    </div>
    </div>
    </div>
</div>

