<div class="material-group">
    <div class="container lpSettings">
        <div class="setting-section">
            <p class="top-name">
                <h3>Lernpfad-Einstellungen</h3>
            </p>
        
            <div class="settingsItem" id="title">
                <label for="lpTitleInput">Titel</label>
                <input type="text" class="form-control" id="lpTitleInput" value="<%=data.learningPath.title%>">
            </div>
            <div>
                <div class="settingsItem" id="interactivityTypes">
                    <label for="categoryTabs">Interaktionstypen für diesen Lernpfad</label>
                    <ul class="nav nav-tabs" id="categoryTabs" role="tablist">
                        <% if(data.learningPath.availableInteractivityTypes){ 
                        let counter = 0;
                        for (let [key, value] of Object.entries(data.learningPath.availableInteractivityTypes)){ 
                            let first = counter == 0 ? true : false;
                            let active = first ? ' active' : '';
                            %>
                            <li class="nav-item">
                                <a class="nav-link" id="<%= key %>-tab" data-toggle="tab" href="#a<%= key %>" role="tab" aria-controls="tmpCat" aria-selected="false">
                                    <input type="checkbox">
                                    <input type="text" class="form-control-sm newCat changeCatName" id="changeCatName-<%= key %>" style="background-color:transparent; border:none" value="<%= key %>">
                                </a>
                            </li>
                            <%counter++ } %>
                            <li class="nav-item" id="addtabNav">
                                <h4 class="nav-link" id="add-tab" role="button">
                                    +
                                </h4>
                            </li>
                    </ul>
                    <div class="tab-content" id="categoryTabsContent">
                    <%
                        function extendObj(dict1, dict2){
                            for (const [key, value] of Object.entries(dict2)){
                                if(!dict1[key]){
                                    dict1[key] = value;
                                }
                            }
                            return dict1;
                        }

                        // console.log(extendObj(data.learningPath.availableInteractivityTypes, data.learningPath.interactivityTypes))

                        counter = 0;
                        for (let [key, value] of Object.entries(extendObj(data.learningPath.availableInteractivityTypes, data.learningPath.interactivityTypes))){ 
                            let showActive = counter == 0 ? ' show active' : '';
                            let active = counter == 0 ? ' active' : ''; %>
                        <div class="tab-pane fade<%= showActive %>" id="a<%= key %>" role="tabpanel" aria-labelledby="
                        <%= key %>-tab">
                            <div class="items <%= key %> <%= active %>">
                            <% value.forEach(val=>{ checked = (data.learningPath.interactivityTypes[key] && data.learningPath.interactivityTypes[key].length > 0 && data.learningPath.interactivityTypes[key].includes(val)) ? true : false; %>
                            <input class="interactivityInputCB <%= key %>" <% if (checked){ %> checked
                                <% } %> type="checkbox" id="<%= val %>CB" name="<%= val %>">
                                <label for="<%= val %>CB"><%= val %></label>
                                <br>
                                <% }); %>
                                <div id="lastCheckboxelement<%= key %>"></div>
                            </div>
                            <div class="newInterInputs">
                                <input type="text" class="form-control customInput newIntertypeName" id="newIntertypeName-<%= key %>" placeholder="Neuer Interaktionstyp">
                                <button class="btn btn-light createBtn customInput createInter" id="createInter-<%= key %>">+</button>
                            </div>
                        </div>
                        <%counter++} %>
                        <div id="lastTabContent"></div>
                    </div>
                    <%} %>
                </div>
                <div class="settingsItem resetBtns">
                    <button class="button btn btn-light resetBtn" id="selectAllInter"> Alle Kategorien auswählen </button>
                    <button class="button btn btn-light resetBtn" id="selectNoneInter"> Keine Kategorie auswählen </button>
                </div>
            </div>
        </div>
    </div>
</div>
