<!DOCTYPE html>
<html>

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script><%-data.js%></script>
        <style><%-data.style%></style>
    </head>

    <body>
        <button class="button" id="settings">Einstellungen</button>
        <h1>
            Lernpfadplaner 
        </h1>
        <p>
            verfuegbare Module
        </p>
        <ul>
            <% data.learningPaths.forEach(lp=>{ %>
                <li> 
                    <button class="button" type="open" id="edit<%= lp.getId() %>"><%= lp.getName() %></button>
                    <button class="button" type="delete" id="del<%= lp.getId() %>">x</button>  
                </li>
            <% }); %>
        </ul>
        <button class="button" type="create" id="createLp">Lernpfad erstellen</button>
    </body>

</html>